.gallery {

    display: flex;

    &__photo {
        width: 100%;
        display: block;
    }

}

.overview {
    display: flex;

    &__heading {
        font-size: 2rem;
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-primary);
    }

    &__rating {
        display:flex;
        align-items: center;
        flex-direction: column;
    }
}